table,
th,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

.lead {
    font-size: medium;
}

@media screen and (max-width: 600px) {
    .container
    {
        width: 300px;
        padding: 0px;
        margin: 0px
    }

    .bill
    {
        margin: 0px;
        font-size: xx-large;
        width: 250px;
    }
}